

<footer class="bg-dark py-1 my-1">
    
    <ul class="nav justify-content-center border-bottom pb-1 mb-2">

      <li class="nav-item"><a routerLink="/contato" class="nav-link px-3 text-white">Contratar</a></li>
      <li class="nav-item"><a routerLink="/meeting" class="nav-link px-3 text-white">Meeting Now</a></li>
      <li class="nav-item"><a routerLink="/client" class="nav-link px-3 text-white">Associados</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-3 text-white">FAQs</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-3 text-white">Políticas</a></li>
    </ul>

    <p class="text-center text-white">&copy; 2024 Advocacia SENAI, Inc</p>

  </footer>

