<div class="content-container">
<div class="register-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <p class="heading">Registre-se</p>
      <p class="paragraph">Crie sua conta</p>
      
      <!-- Exibindo a mensagem de erro -->
      @if (errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
      }
  
      <!-- Formulário de registro -->
      <div class="input-group">
        <input type="text" placeholder="Usuário" formControlName="username" class="form-control" />
      </div>
      
      <div class="input-group">
        <input type="text" placeholder="Email" formControlName="email" class="form-control" />
      </div>
      
      <div class="input-group">
        <input type="password" placeholder="Senha" formControlName="password" class="form-control" />
      </div>
      
      <button type="submit">Cadastrar</button>
      
      <div class="bottom-text">
        <p>Você já tem uma conta? <a routerLink="/login">Login</a></p>
      </div>
    </form>    
  </div>
</div>