<router-outlet></router-outlet>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Excelência Jurídica em Cada Caso</h1>
            <p class="opacity-75">Conquiste resultados com profissionais dedicados, prontos para oferecer soluções jurídicas personalizadas para você e sua empresa.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Agende uma Consulta</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Confiança e Transparência em Todos os Processos</h1>
            <p>Com uma abordagem transparente e ética, trabalhamos para proteger seus interesses legais com total comprometimento.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Conheça Nossos Serviços</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Resultados que Falam por Si</h1>
            <p>Com décadas de experiência no setor jurídico, nosso escritório tem um histórico de casos bem-sucedidos, trazendo paz de espírito para nossos clientes.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Veja Casos de Sucesso</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
  
  <div></div>

  <section class="creative-cards style-one">
    <div class="container">
      <div class="row">
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/1yIWjyG41o.png" alt="Ícone de planejamento estratégico" />
            </div>
            <h3><a href="https://www.fiverr.com/aliali44">Planejamento Jurídico</a></h3>
            <p>Desenvolvemos estratégias jurídicas eficazes que garantem a melhor defesa dos seus interesses, proporcionando a tranquilidade e segurança que você merece em todas as fases do processo legal.</p>
            <a class="read-more-btn" href="https://www.fiverr.com/aliali44"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/Q4tSh2ctkH.png" alt="Ícone de design tradicional" />
            </div>
            <h3><a href="https://www.fiverr.com/aliali44">Assessoria Jurídica Personalizada</a></h3>
            <p>Oferecemos um atendimento jurídico personalizado, com foco nas necessidades de cada cliente, proporcionando soluções justas, transparentes e eficazes para cada caso.</p>
            <a class="read-more-btn" href="https://www.fiverr.com/aliali44"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/YQdOwN6IDJ.png" alt="Ícone de qualidade" />
            </div>
            <h3><a href="https://www.fiverr.com/aliali44">Compromisso com a Justiça</a></h3>
            <p>Nosso compromisso é com a justiça e com a defesa dos seus direitos, sempre buscando resultados justos e equilibrados. Trabalhamos para garantir que sua voz seja ouvida e respeitada.</p>
            <a class="read-more-btn" href="https://www.fiverr.com/aliali44"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  